@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* mdl-demo-custom is a custom classname to increases the specificity of our styles. It can be anything. 
   * The idea is that it is easy to extend/override builtin styles with very little effort.
   */

.mdl-demo-custom .dropdown .dropdown-trigger.arrow.bottom .tag-list:after {
  content: "\25BC";
  vertical-align: middle;
  color: #3c3c3c;
  margin-right: 2px;
  font-size: 10px;
}

.dropdown-content ul {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.03em;

  color: #666666;
}

.dropdown input {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;

  color: #666666;
}

/* .mdl-demo-custom .dropdown .dropdown-trigger.arrow.top .tag-list:after {
    content: "\25B2";
    vertical-align: middle;
    color: #3c3c3c;
    margin-right: 2px;
    font-size: 20px;
   } */

.mdl-demo-custom .dropdown-trigger > span:after {
  font-size: 12px;
  color: #005cb9;
}

.mdl-demo-custom .dropdown-trigger {
  border-radius: 0.25rem;
}

.mdl-demo-custom .dropdown-trigger > span:after {
  font-size: 12px;
  color: #555;
}

.mdl-demo-custom .toggle {
  font: normal normal normal 18px/1 "Material Icons";
  color: #555;
  white-space: pre;
  margin-right: 2px;
  vertical-align: middle;
}

.mdl-demo-custom .toggle.collapsed::after {
  cursor: pointer;
  content: "\E5CF";
  vertical-align: middle;
}

.mdl-demo-custom .toggle.expanded::after {
  cursor: pointer;
  content: "\E5CE";
  vertical-align: middle;
}

/* checkbox styles */
.mdl-demo-custom .checkbox-item {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  vertical-align: middle;
  /* position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0; */
}

/* .mdl-demo-custom .checkbox-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #aaa;
    transition: all 0.3s ease-in-out;
  }
  
  .mdl-demo-custom .checkbox-item:checked:before {
    height: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
    border-color: #005CB9;
  } */

.tag-remove {
  background: none;
  border: none;
  color: whitesmoke;
}

.tag {
  padding: 3px 5px 3px 5px;
  border: 1px solid black;
  text-decoration: none;
}

.tag button {
  padding-right: 1px;
}

.tag-item {
  margin-bottom: 5px;
  color: whitesmoke;
  height: 32px;
  display: inline-block;
  margin-right: 5px;
}

.tag-list li:nth-last-child(2) {
  display: block;
}

.tag-item input {
  margin-bottom: 5px;
  color: #555;
  height: 33px;
  background-color: #f8f8f8;
  /* border-radius: 2px; */
  border: 0px solid black;
  border-bottom: 1px solid gray;
}

.mdl-demo-custom a:hover {
  color: whitesmoke;
}

.tag {
  background-color: #005cb9;
  border: 1px solid #005cb9;
  border-radius: 2px;
}

.tag-list {
  list-style: none;
  padding-left: 0px;
}

ul.root {
  padding-left: 10px;
}

.mdl-demo-custom .node-label {
  color: #555;
  vertical-align: middle;
}

.mdl-demo-custom .no-matches {
  margin-left: 10px;
  color: #e23028;
}

.tree .tag-item {
  display: block !important;
}
.tag-item {
  display: none !important;
}
.tag-item:last-child {
  display: block !important;
  height: 20px !important;
}
