.chart {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0rem 2rem 1.2rem 2rem;
  height: 100%;
}

.chart .header {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
  padding: 1rem;
  background: #e1eaf2;
  border-radius: 2px;
}

.header{
  display: flex;
  /* flex-direction: ; */
  justify-content: space-between;
}


.recharts-cartesian-axis-ticks {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #999999;
}


.fullscreen-enabled .recharts-cartesian-axis-ticks{
  font-size: 1em;
}



@media screen and (max-width: 480px) {
  .recharts-cartesian-axis-ticks {
    font-size: 10.5px;
  }
}
