.mytooltip {
    background-color: white;
    border: 1px solid rgb(135, 231, 25);
    font-size: small;
    border-radius: 12px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    /* width:70px; */
  }
  .mybordercolorED6318{
    border: 1px solid #ED6318;
    /* background-color: white;
    font-size: small;
    border-radius: 12px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 5px;
    width:70px; */
  }

  .mybordercolor0AA2D1{
    border: 1px solid #0AA2D1;
    /* background-color: white;
    font-size: small;
    border-radius: 12px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 5px;
    width:70px; */
  }
  .mybordercolor15CF6B{
    border: 1px solid #15CF6B;
    /* background-color: white;
    font-size: small;
    border-radius: 12px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 5px;
    width:70px; */
  }
  
/* .mytooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 3%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    transform: rotate(24deg);
  } */
  
