.filter-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.filter-header {
  margin: 0.5rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid #cccccc;
}

.filter-header input {
  border: none;
  outline: none;
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #999999;
}

#reset-icon {
  position: absolute;
  right: 55px;
  cursor: pointer;
  top: 10px;
}

.close-icon-styl {
  position: absolute;
  right: 20px;
  top: 9px;
  cursor: pointer;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.filter-container button {
  width: 120px;
  height: 44px;
  background: #005cb9;
  box-shadow: -5px -5px 10px rgba(0, 80, 115, 0.02),
    5px 5px 10px rgba(0, 80, 115, 0.02);
  border-radius: 2px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border: none;
  color: #ffffff;
}
