.innovation-container {
  display: flex;
  flex-direction: column;
  min-height: 89vh;
  background: #f8f8f8;
}

.innvotaion-top-header-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 2rem;
  background: #f8f8f8;
}

.innovation-sub-header-btn-styl button {
  background: #ffffff;
  height: 29px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25),
    5px 5px 10px rgba(0, 80, 115, 0.02);
  border-radius: 2px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #005cb9;
  outline: none;
  border: none;
}

.innvoation-tab-panel-styl {
  margin: 0rem 2rem;
}

.details-styl {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex: 0 0 20%;
}

.product-details-styl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#head {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #0aa2d1;
}

.details-styl p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.details-styl h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  padding: 0;
  margin: 0;
}

.sku-btn-styl {
  display: flex;
  cursor: pointer;
}

.sku-btn-styl button {
  width: 110px;
  height: 28px;
  background: #005cb9;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-right: 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 37px;
  background: #005cb9;
  border-radius: 2px 2px 0px 0px;
}

.add-item-styl {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-content-styl {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
}

.content-details-styl {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex: 0 0 50%;
}

.content-details-styl input {
  width: 201px;
  height: 33px;
  outline: none;
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
}

.required {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.required:after {
  content: "*";
}

.modal-btn-styl {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}

.modal-btn-styl button {
  width: 117px;
  outline: none;
  height: 44px;
  border: none;
  background: #005cb9;
  box-shadow: -5px -5px 10px rgba(0, 80, 115, 0.02),
    5px 5px 10px rgba(0, 80, 115, 0.02);
  border-radius: 2px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.customer-details-container span {
  font-family: Lato;
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #005cb9;
}

.customer-details-container {
  border: "1px solid #EFEFEF" !important;
  box-sizing: "border-box" !important;
}

.volume-details-content {
  display: flex;
  flex-direction: column;
}

.volume-details-container span {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #005cb9;
}

.volumebuild-styl-tbl-container {
  margin-top: 10px;
}

label {
  margin: 0;
}

.product-details-header-btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.product-details-header-btns button {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25),
    5px 5px 10px rgba(0, 80, 115, 0.02);
  border-radius: 2px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border: none;
  text-align: center;
  letter-spacing: 0.06em;
  color: #005cb9;
}

.product-detail-add-btn {
  margin-left: 96%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background-color: #005cb9;
  color: #fff;
  font-size: 20px;
  outline: none;
}

.financedetails-container {
  display: flex;
  flex-direction: column;
}

.finance-details-topheader {
  display: flex;
}
.finance-details-btn {
  display: flex;
}

.finance-details-btn button {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 80, 115, 0.05),
    0px 5px 10px rgba(0, 80, 115, 0.05);
  width: 65px;
  height: 24px;
  outline: none;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #005cb9;
}

.financedetails-container span {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #005cb9;
}

.innovation-projects-screen {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.menu-bottom-styl {
  display: flex;
  margin-top: 10px;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.menu-bottom-styl label {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #005cb9;
}

.menu-bottom-styl button {
  width: 60px;
  height: 25px;
  outline: none;
  border: none;
  background: #005cb9;
  color: #fff;
  border-radius: 2px;
}
