.pagenotfound-styl {
  background-image: url(./PageNotFound.png);
  margin-top: 40px;
  height: 82vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
