.planning-summary-container {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  min-height: 89vh;
}

.planning-summary-content {
  margin: 0rem 2rem;
}

.ndf-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ndf-header-content {
  display: flex;
  min-width: 600px;
  margin-right: 30%;
  align-items: center;
  justify-content: space-around;
  height: 26px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 12%);
  border-radius: 2px;
}

.ndf-header-content label {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;

  color: #666666;
}

.ndf-header-content span {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #0aa2d1;
}

.icon-styl {
  width: 26px;
  height: 26px;
  text-align: center;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 80, 115, 0.05),
    0px 5px 10px rgba(0, 80, 115, 0.05);
}
.icon-styl-selected {
  width: 26px;
  height: 26px;
  background: #005cb9;
  border: 1px solid #005cb9;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 80, 115, 0.05),
    0px 5px 10px rgba(0, 80, 115, 0.05);
  border-radius: 2px;
  position: relative;
}

.icon-styl-selected img {
  position: absolute;
  top: 24%;
  left: 27%;
}

.summary-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.summary-box {
  width: 49.5%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  border-top: none;
  box-sizing: border-box;
}

.summary-box:nth-child(odd) {
  margin-right: 10px;
}

.summary-box-header {
  display: flex;
  justify-content: space-between;
  background: #e1eaf2;
  border-radius: 2px;
  padding: 2px;
}

.summary-box-header span {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #828282;
  padding-left: 2px;
  padding-top: 0.2px;
}

.summary-box-header button {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #828282;
}
.mini-table-body {
  text-align: center;
}
.nodisplay {
  visibility: hidden;
}

.mini-table-body td {
  /* color: #15cf6b; */
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
}
.doRed {
  color: red;
}
.doGreen {
  color: rgb(8, 228, 8);
}

.mini-table-body td:first-child {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 17px;
  color: #666666;
  width: 20%;
}

.tr1-styl td {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;

  font-size: 11px;
  line-height: 17px;
  color: #333333;
}

.consumption-mini-table-body {
  text-align: left;
}

.consumption-mini-table-body td {
  /* color: #15cf6b; */
  font-family: Lato;
  font-style: normal;
  /* width: 14.6%; */
  font-weight: 600;
  font-size: 11px;
}

.consumption-mini-table-body td:first-child {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 17px;
  color: #666666;
  width: 105px;
}

.consumption-tr1-styl td {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  /* color: #333333; */
}
