.planning-container {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  min-height: 89vh;
}

.filter-btn-styl {
  background: #ffffff;
  box-shadow: -5px -5px 10px rgba(0, 80, 115, 0.02),
    5px 5px 10px rgba(0, 80, 115, 0.02);
  border-radius: 2px;
  background-color: inherit;
  outline: none;
  border: none;
}

.top-header {
  display: flex;
  height: 29px;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 80, 115, 0.05);
  align-items: center;
}

.link-styl {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #005cb9;
}

.top-header label {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.dropdown-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
  background: inherit;
}

.summary-header {
  height: 40px;

  padding: 0 1rem;
}

.summary-header span {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  color: #333333;
}

.summary-header strong {
  text-transform: capitalize;
  font-weight: normal;
  text-decoration: underline;
}

.table-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0rem 2rem 1.2rem 2rem;
  height: 100%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  background: #e1eaf2;
  border-radius: 2px;
  align-items: center;
  padding: 0.5rem 1rem;
}
.title-styl {
  display: flex;
  flex-direction: column;
  margin-right: 400px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
}

.planning-header-btn-styl button {
  background: #ffffff;
  height: 29px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25),
    5px 5px 10px rgba(0, 80, 115, 0.02);
  border-radius: 2px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #005cb9;
  outline: none;
  border: none;
}

.save-btn-styl button {
  width: 104px;
  height: 44px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25),
    5px 5px 10px rgba(0, 80, 115, 0.02);
  border-radius: 2px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  letter-spacing: 0.06em;
  color: #005cb9;
}

.save-btn-styl button:first-child {
  margin-right: 20px;
}


.fullscreen-enabled .chart{
  margin-top: 10% !important;
  font-size: x-large;
}