.background-styl {
  background-image: url(./background.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  position: absolute;
  left: 15.39%;
  right: 46.33%;
  bottom: 60.25%;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 50px;
  color: #ffffff;
}

#logo-styl {
  position: absolute;
  width: 152px;
  height: 43.95px;
  left: 85%;
  top: 43px;
}

.btn-sty {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  left: 25%;
  top: 55%;
  min-width: 40%;
}

.btn-sty button {
  width: 200px;
  height: 84px;
  background: #ffffff;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  color: #005cb9;
}
