#basic-nav-dropdown {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
}

.navbar-styl {
  box-shadow: 0px 5px 10px rgba(0, 80, 115, 0.05) !important;
  background: #005cb9;
  color: #fff;
  height: 39px;
}

.dropdown-items-styl {
  border-bottom: 1px solid #efefef;
  margin: 0 10px;
  width: 90%;
  padding: 0.5em;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #333333;
}

.dropdown-items-styl:last-child {
  border-bottom: none;
}

.username-styl {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

#time-styl {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
