.MuiTable-root {
  border: 0 !important;
}

.testingInput {
  width: 60%;
  border: 1px solid #e0e0e0;
  outline: none;
}
.testingInput:focus {
  width: 60%;
  outline: olive;
  border: 0px;
  border-bottom: 1px solid #e0e0e0;
}

/* .MuiTableCell-root{
  border-bottom: 0px !important
} */
.commentCount {
  color: rgb(236, 229, 229);
  padding-left: 10px;
  /* font-style: italic; */
}

.commentCount:hover {
  color: rgb(0, 0, 0);
}

.header {
  border-bottom-style: hidden !important;
}

.version_plans {
  height: 30px !important;
  /* border-top-style: hidden !important; */
  border-bottom-style: hidden !important;
  /* border-bottom-style: solid !important; */
  border-top: 1px solid rgb(206, 190, 190) !important;
  border-bottom: 1px solid rgb(206, 190, 190) !important;
  background: #f1f1f1 !important;
  margin-bottom: 200px !important;
}

.version_opportunity_risk{
  display: none !important;
}

.version_opportunity_risk{
  display: none !important;
}

.version_upside_downside{
  display:none !important;
}
.title_driver {
  font-weight: 700;
}
.AddComment_upside_downside{
  display: none;
}
.version2 {
  height: 20px !important;
  border-top-style: hidden !important;
  /* border-bottom-style: hidden !important; */
  /* border-bottom-style: solid !important; */
  border-bottom: 1px solid rgb(206, 190, 190) !important;
  background: #ffffff !important;
  /* margin-bottom: 200px !important; */
  color: rgb(11, 170, 11) !important;
  font-size: 12px;
  font-weight: 600;
}

.GiveRed {
  color: red;
}
.GiveGreen {
  color: rgb(11, 170, 11);
}

.driver,
.comment {
  /* border-top-style: hidden !important; */
  /* border-bottom-style: hidden !important; */
}

tr td:not(:first-child) {
  text-align: center;
}

thead tr th:not(:first-child) {
  text-align: center;
}

.DeltaRow {
  border-right: 1px solid #a9a9a9;
  padding-left: 40px;
  font-family: "Lato";
  font-weight: 700;
  font-size: 14px;
  color: #666666;
  line-height: 16.8px;
}

.DeltaRow1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.DeltaRowCell {
  color: #828282;
  font-family: "Lato";
  font-weight: 400 !important;
  font-size: 13px;
  line-height: 16.8px;
}
.MuiTableCell-head {
  color: #666666 !important;
  font-family: Lato !important;
  font-size: 14px !important;
  font-style: 700 !important;
  font-weight: 700 !important;
  line-height: 17px !important;
  letter-spacing: 0em !important;
  /* text-align: center !important; */
}
