.fullscreen-enabled {
    background: white;
    /* height:50vh; */
    
  }

  .fullscreen-enabled .display{
    margin-top: 50px;
  }
  .fullscreen-enabled .display tr td{
    font-size: 0.6em !important;
  }
  .fullscreen-enabled .recharts-surface{
    height: 300px !important;
  }
  .fullscreen-enabled .display tr td:not(:first-child){
    padding-left: 120px;
  }

  .fullscreen-enabled{
    margin-top: 50%;
    font-size: x-large;
   
  }

  .fullscreen-enabled .summary-box-header{
    margin-top: 10%;
    height:40px;
    font-size: x-large;
    margin-left:10px;
    margin-right:10px;
  }

  .fullscreen-enabled .recharts-responsive-container .recharts-wrapper .recharts-surface .recharts-layer .recharts-cartesian-axis-ticks text{
    font-size: 0.8em;
  }